.pagination {
    text-align: center
}

.pagination a,
.pagination span {
    margin: 0 8px
}

.pagination .pagination-prev {
    padding: 0 0 0 13px;
    margin: 0 42px 0 0;
    background-position: left center;
    background-repeat: no-repeat
}

.pagination .pagination-next {
    padding: 0 13px 0 0;
    margin: 0 0 0 42px;
    background-position: right center;
    background-repeat: no-repeat
}